.conteudo-bg {
    background: #222721;
    box-shadow:  inset 0 -150px white;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    justify-content: center;
    margin-bottom: 120px;
}

.conteudo-texto {
    font-family: "Bruno Ace";
    /* padding-left: 120px; */
}


.conteudo h2 {
    font-size: 96px;
    max-width: 4ch;
    align-self: center;
    color: #fff;
}



.conteudo a {
    text-align: center;
    padding: 8px;
    max-width: fit-content;
    display: block;


}

.conteudo-imagem img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


@media (min-width:280px) and (max-width:400px) {
    div.conteudo-bg {
        background-color: #222721;
        box-shadow: none;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    div.conteudo {
        display: grid;
        grid-template-columns: 1fr;
    }

    div.conteudo-imagem {
        display: grid;
        justify-content: right;
    }
    
    div.conteudo-imagem > img {
        margin-top: 5px;
        padding-top: 1px;
        display: grid;
        width: 350px;
    }

    div.conteudo  h2 {
        font-size: 3rem;
        padding-top:20px;
        padding-bottom: 20px
        
    }


.conteudo-dois {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 120px;
}

.imagem-conteudo-dois img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.conteudo-dois h3 {
    text-transform: uppercase;
    text-align: center;
}

@media (min-width:280px) and (max-width:400px) {
    section.conteudo-dois {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    section.conteudo-dois > h3 {
        padding-top: 20px;
        font-size: 2rem;
        color: rgb(0, 0, 0);
    }

    picture.imagem-conteudo-dois img {
        width: 350px;
        height: 450px;
        object-fit: cover;
    }
}


.conteudo-final-bg {
    background: #334026;
    padding-bottom: 120px;
}

.conteudo-final {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 20px;
}

.conteudo-final img {
    border-radius: 5px;
    border-top-right-radius : 80%;
    border-bottom-right-radius: 80%;
}





}