
.introducao-bg {
    background: #1D1F24;
    padding-bottom: 100px;
}

.titulo { 
    padding-top: 40px;
    padding-bottom : 40px;

}



#home .titulo h1 {

    text-align: center;
    color: #D92B2B;
    font-family: "Bruno Ace";
    font-size: 5rem;
}


.introducao {
  position: relative;
  animation: mymove-home 2.0s ease-out;
}

@keyframes mymove-home {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 18%;
      width: 100%;
      
    }
  }


.introducao-imagem  {
    display: grid;
    justify-content: center;
    /* padding: 100px; */
    position: relative;
    z-index: 2;
}

.introducao-imagem::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../detalhe/Detelhe-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    z-index: -1;
    top: 80px;
}

.introducao-imagem img {
    object-fit: cover;
    width: 543px;
    height: 814px;
    border-radius: 5px;

}



@media (min-width:280px) and (max-width:400px) {

    div.introducao-bg {
        margin: 0px;
        background-color: #D92B2B;
    }

    .introducao {
        display: grid;
        animation: none;
        background: none;
        /* position: relative; */
        padding-top: 50px;
        padding-bottom: 50px;        
        justify-content: center;

    }

    #home .titulo h1, #home .titulo p {
        font-size: 1.5rem;
        color: white;
        display: none;
    }

    pciture.introducao-imagens {
        padding: 0;
    }

    picture.introducao-imagem > img {
        object-fit: cover;
        width: 300px;
        height: 380px;
        /* position: absolute;
        right: 10%;
        bottom: -50%; */
    }

    picture.introducao-imagem::after{
        display: none;
    }

}


